<form [formGroup]="stateForm" class="bg-slate-400 border mx-auto max-w-xl rounded-lg p-4 flex justify-around">
      <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
            <mat-label>States Group</mat-label>
            <input type="text" matInput formControlName="stateGroup" required [matAutocomplete]="autoGroup">
            <mat-autocomplete #autoGroup="matAutocomplete">
                  @for (group of stateGroupOptions | async; track group) {
                  <mat-optgroup [label]="group.letter">
                        @for (name of group.names; track name) {
                        <mat-option [value]="name">{{name}}</mat-option>
                        }
                  </mat-optgroup>
                  }
            </mat-autocomplete>
      </mat-form-field>
</form>